*{
    box-sizing: border-box;
    

}
body{
    background-color: #303030;
    color: white;
    padding: 0px;
    margin: 0px;

    

}
/*de header over alle pagina's*/
header{
    display: flex;
    flex-direction: column;
    background-color: #800020;

}
header img{
    object-fit: cover;
    height: 300px;

}
h1{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    font-size: large;

}
nav a:link, nav a:visited{
    text-decoration: none ;
}
a:link, a:visited{
    color: white;
}
a:hover{
    color: yellow;
}
a:active{
    color: green;
}
/*main design voor alle pagina's*/
main{
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 40px;
}


section{
    padding:15px;
}
h2{
    border-bottom : 2px dashed #E9E8C9;
    
}
h3{
    text-decoration: underline;
    
}
/*de formulieren*/
form{
    margin: 10px;
    display: flex;
    flex-direction: column;

}
input{
    padding: 2px 5px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;

}


input[type=submit] {
    width: 100px;
}
textarea{
    resize: none;
}
iframe{
    width: 90%;
    height: 80%;
}

/*footer voor alle pagina's*/
footer{
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}
address{
    margin-left: 15px;
}
#bestelLink{
    margin: 30px;
}
@media only screen and (min-width: 900px){
    /*grid bij groter scherm*/
    body{
        display: grid;
        grid-template-columns:10% 20% 20% 20% 20% 10%;
        grid-template-rows: auto auto auto;
        justify-content: center;
    }
    header{
        grid-column: 1 / span 6 ;
        text-align: center;


    }
    main{
        grid-row: 2;
        grid-column: 2 / span 4;
    
    }
    footer{
        grid-row: 3;
        grid-column: 2 / span 4;
    }
    /* responsive lettergrote */
    /* foto logo vervangt h1*/
    h1{
        font-size: 3vw;
    }

    h2{
        font-size: 2vw;
    }
    h3{
        font-size: 1vw;
    }
    /*form responsief*/
    
    input  {
        width: 30%;
    }    
    

    
}

